
h3 {
  border-left: solid .25em #000000;
  padding-left: .5em;

  span {
    font-weight: bold;
  }

  .new-period-icon {
    font-size: .75em;
    color: #ffffff;
    background: #006ED4;
    padding: .25em;
    border-radius: 2px;
  }

  .hidden {
    display: none;
  }
}

form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 1em;
}

mat-radio-group {
  div {
    margin-bottom: .5em;
  }

  mat-radio-button {
    margin-left: .75em;
  }
}
