/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }

.wrapper {
  // content constraints
  max-width: 90rem;
  margin-left: auto;
  margin-top: 5em;
  margin-right: auto;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3em;
  grid-auto-rows: minmax(100px, auto);
}